* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms_clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  boreder: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width: 750px) {
  body.lock {
    overflow: hidden;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  color: #3c3c3c;
}

.text {
  color: grey;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 0 80px 0;
  background-color: gray;
  z-index: 2;
}

.header__container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__body {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .header__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 750px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 9px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 750px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: grey;
    opacity: 0.98;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu.active {
    top: 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}

@media (max-width: 750px) {
  .header__list {
    display: block;
    text-align: center;
    margin: 100px 0 0 0;
  }
  .header__list li {
    margin: 0 0 20px 0;
  }
}

.header__link {
  padding: 0 0 0 20px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.header__link:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .header__link {
    font-weight: 500;
    font-size: 23px;
    padding: 0 0 0 0;
  }
}

.hi__box {
  margin: 140px 0 0 0;
  padding: 0 0 80px 0;
}

@media (max-width: 750px) {
  .hi__box {
    padding: 0 0 40px 0;
  }
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  .hi__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.hi__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px;
}

.hi__body *:last-child {
  margin-bottom: 0;
}

.hi__title {
  font-size: 44px;
  color: #3c3c3c;
  font-weight: 800;
  line-height: 113.63636%;
  margin: 0 0 10px 0;
}

@media (max-width: 750px) {
  .hi__title {
    font-size: 30px;
  }
}

.hi__text {
  max-width: 570px;
  line-height: 1.4;
  margin: 0 0 40px 0;
}

@media (max-width: 750px) {
  .hi__text {
    max-width: 100%;
  }
}

.hi__bth {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: red;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 47px;
  color: white;
  font-size: 20px;
  line-height: 145%;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 0 40px 0;
}

.hi__bth:hover {
  background-color: palevioletred;
}

.hi__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid gainsboro;
}

.hi__avatar img {
  max-width: 100%;
}

.post {
  padding: 0 0 20px 0;
  background-color: #f0f0f0;
  margin: 0 0 20px 0;
}

.head-post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 750px) {
  .post__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.post__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 15px 0;
}

@media (max-width: 750px) {
  .post__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.post__item {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.post__title {
  margin: 0 0 20px 0;
}

.post__data {
  margin: 0 0 20px 0;
}

.post__text {
  line-height: 1.4;
}

@media (max-width: 750px) {
  .works__bigbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }
}

.works__featured {
  margin: 40px 0;
}

@media (max-width: 750px) {
  .works__featured {
    font-size: 17px;
    text-align: center;
  }
}

.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 2px solid #f0f0f0;
}

@media (max-width: 750px) {
  .works__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0 20px 0 0;
  }
}

.works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  min-height: 200px;
  border-radius: 7px;
  overflow: hidden;
}

@media (max-width: 750px) {
  .works__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 0 50% 0;
    margin: 0 0 10px 0;
  }
}

.works__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0 0 20px;
}

@media (max-width: 750px) {
  .works__body {
    padding: 0 0 0 0;
  }
}

.works__tittle {
  margin: 0 0 20px 0;
}

.works__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.works__date {
  font-weight: 600;
  color: white;
  line-height: 20px;
  padding: 0 5px;
  background-color: blue;
  border-radius: 8px;
}

.works__subinfo {
  padding: 0 0 0 10px;
}

.works__text {
  line-height: 1.4;
  height: 115px;
  overflow: auto;
}

.footer {
  padding: 10px 0;
  background-color: gray;
  margin: 40px 0 0 0;
}

.container {
  max-width: 871px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 15px;
  color: white;
}

.portpholio {
  padding: 120px 0 0 0;
}

.portpholio__title {
  margin: 0 0 40px 0;
}

.portpholio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 30px 0;
  margin: 0 0 30px 0;
  border-bottom: 2px solid #f0f0f0;
}

@media (max-width: 750px) {
  .portpholio__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.portpholio__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  min-height: 200px;
  border-radius: 7px;
  overflow: hidden;
}

@media (max-width: 750px) {
  .portpholio__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 0 50% 0;
    margin: 0 0 10px 0;
  }
}

.portpholio__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 0 0 20px;
}

@media (max-width: 750px) {
  .portpholio__body {
    padding: 0 0 0 0;
  }
}

.portpholio__tittle {
  margin: 0 0 20px 0;
}

.portpholio__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.portpholio__date {
  font-weight: 600;
  color: white;
  line-height: 20px;
  padding: 0 5px;
  background-color: blue;
  border-radius: 8px;
}

.portpholio__subinfo {
  padding: 0 0 0 10px;
}

.portpholio__text {
  line-height: 1.4;
  height: 115px;
  overflow: auto;
}

.photo {
  padding: 120px 0 0 0;
}

.photo__title {
  margin: 0 0 20px 0;
}

.photo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

@media (max-width: 750px) {
  .photo__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phtot__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
  margin: 0 0 20px 0;
}

@media (max-width: 750px) {
  .phtot__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 450px) {
  .phtot__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin: 0 0 40px 0;
  }
}

.photo__img {
  padding: 0 0 100% 0;
  overflow: hidden;
  border-radius: 7px;
}
