@import "nullstyle.scss";

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@media (max-width:750px){
	body.lock{
		overflow: hidden;
	}
}
//-------------------ibg----------------//
.ibg{
   background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      img{
      display: none;
         }
	
}
//-------------------------------------//


.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content{
	flex: 1 1 auto;

}

.title{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
	color: #3c3c3c;

}

.text{
	color: grey;

}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0 0 80px 0;
	background-color: gray;
	z-index: 2;
}
.header__container {
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__body{
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	@media (max-width:750px){
		justify-content: flex-end;
	}

}
//---------------------burger--------------------//
.header__burger {
	display: none;
	@media (max-width:750px){
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
		&:before,
		&:after{
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: 0.3s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		span{
			position: absolute;
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			top: 9px;
			transition: 0.3s;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;	
		}
			&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;	
		}
			&.active span {
			transform: scale(0);	
		}

	}
}

.header__menu{
	@media (max-width:750px){
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: grey;
		opacity: 0.98;
		transition: 0.5s;
		&.active{
			top: 0;
		}

	}

}

.header__list {
	display: flex;
	position: relative;
	z-index: 4;
	@media (max-width:750px){
		display: block;
		text-align: center;
		margin: 100px 0 0 0;
		li{
			margin: 0 0 20px 0;
		}
	}
}
.header__link {
		padding: 0 0 0 20px;
		color: white;
		font-size: 13px;
		text-transform: uppercase;
		&:hover{
			text-decoration: underline;
		}
		@media (max-width:750px){
			font-weight: 500;
			font-size: 23px;
			padding: 0 0 0 0;
		}
}


//-------------------------hi----------------------------//
.hi{
	

}
.container {
}
.hi__box {
	margin: 140px 0 0 0;
	padding: 0 0 80px 0;
	
	@media (max-width: 750px){
		padding: 0 0 40px 0;
	}

}
	
.hi__row {
	display: flex;
	
	@media (max-width: 750px){
		flex-wrap: wrap-reverse;
		justify-content: center;
		text-align: center;
	}
}
.hi__body {
	flex: 1 1 auto;
	padding: 0 20px;
	*:last-child{
		margin-bottom: 0;
	}
	
}
.hi__title {
	font-size: 44px;
	color: #3c3c3c;
	font-weight: 800;
	line-height: 50 / 44 * 100%;
	margin: 0 0 10px 0;
	@media (max-width: 750px){
		font-size: 30px;
	}
}
.hi__text {
	max-width: 570px;
	line-height: 1.4;
	margin: 0 0 40px 0;
	@media (max-width: 750px){
		max-width: 100%;

}
	
}


.hi__link {
	
}
.hi__bth {
	display: inline-flex;
	background-color: red;
	padding: 0 20px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	height: 47px;
	color: white;
	font-size: 20px;
	line-height: 29 / 20 * 100%;
	transition: 1s;
	&:hover{
		background-color: palevioletred;
	}
	margin: 0 0 40px 0;
}
.hi__avatar {
	flex: 0 0 240px;
	height: 240px;
	overflow: hidden;
	border-radius: 50%;
	border: 4px solid gainsboro;
	
	img{
		max-width: 100%;

	}
}


//-----------------------Post---------------------//

.post {
	padding: 0 0 20px 0;
	background-color: #f0f0f0;
	margin: 0 0 20px 0;
}
.container {
}
.post__head {
	
}
.head-post__row {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}
.head-post__recent {
}
.head-post__all {
}
.post__row {
	display: flex;
	margin: 0 -10px;
	@media (max-width: 750px){
		flex-wrap: wrap;
	}
	
}
.post__column {
	flex: 0 1 50%;
	
	padding: 0 10px;
	margin: 0 0 15px 0;
	@media (max-width: 750px){
		flex: 0 1 100%;

	}
	

}

.post__item{
	height: 100%;
	padding: 20px;
	background-color: white;
	border-radius: 5px;

}
.post__title {
	
	margin: 0 0 20px 0;

}

.post__data {
	margin: 0 0 20px 0;
}
.post__text {
	line-height: 1.4;
	
}


//----------------------------works------------------------//

.works {
	
	
}

.works__bigbox{
	@media (max-width: 750px){
	display: flex;
	overflow: auto;
	}

}
.container {
}
.works__featured {
	margin: 40px 0;
	@media (max-width: 750px){
		font-size: 17px;
		text-align: center;
	}
}
.works__row {
	display: flex;
	align-items: flex-start;
	
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;

	border-bottom: 2px solid #f0f0f0;
	@media (max-width: 750px){
		flex-wrap: wrap;
		flex: 0 0 90%;
		margin: 0 20px 0 0;

		
	}
}
.works__img {
	flex: 0 0 300px;
	min-height: 200px;
	border-radius: 7px;
	overflow: hidden;
	@media (max-width: 750px){
		flex: 0 0 100%;
		padding: 0 0 50% 0;
		
		margin: 0 0 10px 0;
	}
}
.works__body {
	flex: 0 1 auto;
	padding: 0 0 0 20px;
	@media (max-width: 750px){
		padding: 0 0 0 0;
	}
	
}

.works__tittle {
	margin: 0 0 20px 0;
}

.works__info {
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;

}
.works__date {
	font-weight: 600;
	color: white;
	line-height: 20px;
	padding: 0 5px;
	background-color: blue;
	border-radius: 8px;
}
.works__subinfo {
	padding: 0 0 0 10px;
}
.works__text {
	line-height: 1.4;
	height: 115px;
	overflow: auto;
	
}
//---------------------------footer--------------------//



.footer {
	padding: 10px 0;
	background-color: gray;
	margin: 40px 0 0 0;
}
.container {
	max-width: 871px;
	padding: 0 15px;
	margin: 0 auto;
}
.footer__row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__text {
	font-size: 15px;
	color: white;

}


//----------------- porthpolios---------------//


.portpholio{
	padding: 120px 0 0 0;
	
	
}

.portpholio__title{
	margin: 0 0 40px 0;
}

.portpholio__bigbox{

}
.container {
}


.portpholio__row {
	display: flex;
	align-items: flex-start;
	
	padding: 0 0 30px 0;
	margin: 0 0 30px 0;

	border-bottom: 2px solid #f0f0f0;
	@media (max-width: 750px){
		flex-wrap: wrap;
		flex: 0 0 100%;
		

		
	}
}
.portpholio__img {
	flex: 0 0 300px;
	min-height: 200px;
	border-radius: 7px;
	overflow: hidden;
	@media (max-width: 750px){
		flex: 0 0 100%;
		padding: 0 0 50% 0;
		
		margin: 0 0 10px 0;
	}
}
.portpholio__body {
	flex: 0 1 auto;
	padding: 0 0 0 20px;
	@media (max-width: 750px){
		padding: 0 0 0 0;
	}
	
}

.portpholio__tittle {
	margin: 0 0 20px 0;
}

.portpholio__info {
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;

}
.portpholio__date {
	font-weight: 600;
	color: white;
	line-height: 20px;
	padding: 0 5px;
	background-color: blue;
	border-radius: 8px;
}
.portpholio__subinfo {
	padding: 0 0 0 10px;
}
.portpholio__text {
	line-height: 1.4;
	height: 115px;
	overflow: auto;
}

//----------------Photos------------------//

.photo {
	padding: 120px 0 0 0;
}
.container {
}
.photo__title {
	margin: 0 0 20px 0;
}

.photo__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	@media (max-width: 750px){
		justify-content: center;
	}
	
	
}
.gallery {
}
.phtot__column {
	flex: 0 0 33.333%;
	@media (max-width: 750px){
		flex: 0 0 50%;	
	}
	@media (max-width: 450px){
		flex: 0 0 80%;
		margin: 0 0 40px 0;
			
	}
	padding: 0 15px;
	margin: 0 0 20px 0;
}
.photo__img {
	padding: 0 0 100% 0;
	overflow: hidden;
	border-radius: 7px;

}